## Assign Label

Assign labels according to trend:
    
A - strong positive

B - positive

C - Neutral

D - Negative

E - Strong Negative

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from os import listdir
import re

import csv
import datetime
import pickle
import os

from sklearn import preprocessing

In [2]:
pd.set_option('display.max_rows', 900)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_colwidth', 100)
pd.options.display.float_format = '{:.0f}'.format

In [3]:
DATA_ROOT_DIR='/mnt/data/projects/MD3'
PROJ_ROOT_DIR='/home/priyesh/projects/MD3'

In [4]:
filepath=os.path.join(PROJ_ROOT_DIR,'pickle','yahoo_income_sheets_final_stage6.pkl')
income_sheets = pd.read_pickle(filepath)
filepath=os.path.join(PROJ_ROOT_DIR,'pickle','yahoo_cash_sheets_final_stage6.pkl')
cash_sheets = pd.read_pickle(filepath)
filepath=os.path.join(PROJ_ROOT_DIR,'pickle','yahoo_balance_sheets_final_stage6.pkl')
balance_sheets = pd.read_pickle(filepath)

In [5]:
income_sheets = income_sheets.fillna(0)
cash_sheets = cash_sheets.fillna(0)
balance_sheets = balance_sheets.fillna(0)

In [6]:
cash_sheets['cashDividendsPaid'] = -1 * cash_sheets['cashDividendsPaid']
cash_sheets['repurchaseOfCapitalStock'] = -1 * cash_sheets['repurchaseOfCapitalStock']

In [7]:
ticker_list = income_sheets['company'].unique()

In [8]:
income_sheets['grossProfit'] = np.where(income_sheets.grossProfit.isnull(), \
                                        income_sheets.totalRevenue, income_sheets.grossProfit)

In [9]:
company = {}

for ticker in ticker_list:
  print(ticker)
  company[ticker] = {}
  company[ticker]['income'] = income_sheets[income_sheets['company'] == ticker]
  company[ticker]['cash'] = cash_sheets[cash_sheets['company'] == ticker]
  company[ticker]['balance'] = balance_sheets[balance_sheets['company'] == ticker]

AM
APA
BKR
LNG
CVX
COP
CTRA
DVN
FANG
DTM
EVA
EOG
EQT
XOM
HAL
HES
DINO
KMI
MRO
MPC
NFE
NOV
OXY
OKE
OVV
PDCE
PSX
PXD
RRC
SLB
SWN
TRGP
TPL
VLO
WMB
AES
LNT
AEE
AEP
AWK
ATO
AGR
CNP
CMS
ED
CEG
D
DTE
DUK
EIX
ETR
WTRG
EVRG
ES
EXC
FE
HE
IDA
MDU
NFG
NEE
NI
NRG
OGE
PCG
PNW
PPL
PEG
SRE
SO
UGI
VST
WEC
XEL
ATVI
GOOG
ATUS
AMC
T
CABO
CHTR
CMCSA
DISH
DIS
EA
FOX
IAC
IPG
LBRDA
LYV
LUMN
MSGS
MTCH
META
NFLX
NYT
NWS
NXST
OMC
PARA
PINS
PLTK
RBLX
ROKU
SIRI
SPOT
TMUS
TTWO
TRIP
VZ
WBD
WWE
ZI
ADM
ACI
MO
BJ
SAM
BG
CPB
CHD
CLX
KO
CL
STZ
COST
COTY
DAR
DG
DLTR
EL
FLO
FRPT
GO
HSY
HRL
INGR
K
KDP
KMB
KHC
KR
MKC
TAP
MDLZ
MNST
OLPX
PEP
PFGC
PM
PPC
POST
PG
REYN
SEB
SJM
SPB
SYY
TGT
TSN
USFD
WBA
WMT
APD
ALB
AA
AMCR
ATR
ASH
AVY
AXTA
BALL
BERY
CE
CF
CC
CLF
CTVA
CCK
DOW
DD
EXP
EMN
ECL
ESI
FMC
FCX
GPK
HUN
IFF
IP
LIN
LPX
LYB
MLM
MOS
MP
NEU
NEM
NUE
OLN
PKG
PPG
RS
SMG
SEE
SHW
SLGN
SON
SCCO
SSRM
STLD
X
VVV
VMC
WLK
WRK
Z
MMM
AYI
ADP
WMS
ACM
AGCO
AL
ALK
ALLE
ALSN
AAL
AME
AWI
CAR
AXON
AZEK
BA
BAH
BR
BLDR
BWXT
CHRW
CSL
CARR
CLVT
CLH
CPA
CPRT
CNM
CR
CMI
CW
DE
DAL
DCI
DOV
DRVN
ETN
EMR
EFX
EXPD
FAST
FLS
FTV
FBIN
FCN
GTES
GE
GNRC
GD
GGG
GWW
GXO
HAYW
HEI
HTZ
HXL
HON
HWM
HUBB
HII
IEX
ITW
IR
ITT
J
JBHT
JBLU
JCI
KBR
KEX
KNX
LSTR
LDOS
LII
LECO
LMT
LYFT
MAN
MAS
MTZ
MRCY
MIDD
MSA
MSM
NDSN
NSC
NOC
NVT
ODFL
OTIS
OC
PCAR
PH
PNR
PLUG
PWR
RTX
RRX
RSG
RBA
RHI
ROK
ROL
ROP
R
SAIC
SNDR
ST
SITE
AOS
SNA
LUV
SPR
SWK
SRCL
RUN
TDY
TTEK
TXT
TKR
TTC
TT
TDG
TRU
TREX
UBER
UNP
UAL
UPS
URI
UNVR
VMI
VRSK
VRT
WAB
WM
WSO
WCC
WSC
WWD
XPO
XYL
ACN
ADBE
AFRM
AKAM
ALGM
AYX
AMD
DOX
APH
ADI
ANSS
AAPL
AMAT
APP
ANET
ARW
TEAM
ADSK
AVT
BSY
BILL
AVGO
CDNS
CDW
CDAY
CIEN
CRUS
CSCO
NET
CGNX
CTSH
COHR
CNXC
CFLT
GLW
CRWD
DDOG
DELL
DOCU
DLB
DV
DBX
DXC
DT
ESTC
ENPH
ENTG
EPAM
FFIV
FICO
FSLR
FIVN
FTNT
IT
GEN
G
GFS
GLOB
GDDY
GWRE
HPE
HPQ
HUBS
IBM
INFA
INTC
INTU
IPGP
JBL
JAMF
JNPR
KEYS
KLAC
LRCX
LSCC
LFUS
LITE
MANH
MRVL
MCHP
MU
MSFT
MKSI
MDB
MPWR
MSI
NATI
NCNO
NCR
NTAP
NEWR
NTNX
NVDA
OKTA
ON
PLTR
PANW
PAYC
PCTY
PEGA
PCOR
PTC
PSTG
QRVO
QCOM
RNG
CRM
S
NOW
FOUR
SWKS
SMAR
SNOW
SPLK
SSNC
SNPS
SNX
TDC
TER
TXN
TWKS
TOST
TTD
TRMB
TWLO
TYL
UI
PATH
U
OLED
VRSN
VSAT
VMW
VNT
WDC
WU
WIX
WOLF
WDAY
ZBRA
ZM
ZS
ADT
AAP
ABNB
AMZN
APTV
ARMK
AN
AZO
BBWI
BBY
BKNG
BWA
BYD
BFAM
BC
BURL
CZR
CPRI
KMX
CCL
CRI
CVNA
CMG
CHH
CHDN
COLM
DHI
DECK
DKS
DPZ
DASH
DKNG
EBAY
ETSY
EXPE
FIVE
FND
F
GME
GPS
GRMN
GM
GNTX
GPC
LOPE
HBI
HOG
HAS
HLT
HD
H
KSS
LVS
LEA
LEG
LEN
LESL
LAD
LKQ
LOW
LULU
M
MAR
VAC
MAT
MCD
MGM
MCW
MHK
NWL
JWN
NCLH
NVR
ORLY
OLLI
PTON
PENN
PAG
WOOF
PLNT
PII
POOL
PHM
PVH
QS
RL
RH
RIVN
ROST
RCL
SCI
SIX
SKX
SBUX
TPR
TPX
TSLA
THO
TJX
TOL
BLD
TSCO
TNL
ULTA
MTN
VFC
VSCO
W
WEN
WHR
WSM
WH
WYNN
YETI
YUM
TXG
ABT
ABBV
ACHC
A
ALGN
ALNY
AMED
ABC
AMGN
AVTR
AZTA
BAX
BDX
BIO
TECH
BIIB
BMRN
BSX
BMY
BRKR
CAH
CTLT
CERT
CRL
CHE
COO
DHR
DVA
XRAY
DXCM
EW
ELAN
EHC
ENOV
NVST
EXAS
EXEL
GILD
GMED
GH
HCA
HOLX
HZNP
ICUI
IDXX
ILMN
INCY
PODD
IART
ISRG
IONS
IQV
JAZZ
JNJ
LH
LLY
MRVI
MASI
MCK
MDT
MRK
MTD
MRTX
MRNA
NTRA
NBIX
NVAX
NVCR
OSH
OGN
PEN
PRGO
PFE
PINC
QGEN
DGX
QDEL
REGN
RGEN
RMD
RVTY
RPRX
SRPT
HSIC
SGEN
SHC
STE
SYK
SYNH
TNDM
TDOC
TFX
THC
TMO
RARE
UTHR
UHS
VEEV
VRTX
VTRS
WAT
WST
ZBH
ZTS

In [10]:
inc_sheet = company['WMT']['income'][['totalRevenue','grossProfit','ebit','operatingExpense']]
inc_sheet = pd.DataFrame(company['WMT']['income']['totalRevenue'])
inc_sheet

     totalRevenue
929  523964000000
930  559151000000
931  572754000000
932  611289000000

In [11]:
company['WMT']['cash']

,company,yahoo_sector,gics_sector,industry,st_date,st_YR,st_Mnth,netIncome,netIncomeFromContinuingOperations,depreciationAmortizationDepletion,stockBasedCompensation,cashFlowFromContinuingOperatingActivities,capitalExpenditure,netBusinessPurchaseAndSale,netPPEPurchaseAndSale,netInvestmentPropertiesPurchaseAndSale,netInvestmentPurchaseAndSale,netIntangiblesPurchaseAndSale,cashFlowFromContinuingInvestingActivities,netCommonStockIssuance,cashDividendsPaid,netIssuancePaymentsOfDebt,netLongTermDebtIssuance,netShortTermDebtIssuance,netOtherFinancingCharges,repurchaseOfCapitalStock,cashFlowFromContinuingFinancingActivities,freeCashFlow
648,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2020-01-31,2020,01,14881000000,15201000000,10987000000,0,25255000000,-10705000000,777000000,-10384000000,0,0,0,-9128000000,-5717000000,6048000000,-1071000000,3585000000,-4656000000,-1463000000,5717000000,-14299000000,14550000000
649,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2021-01-31,2021,01,13510000000,13706000000,11152000000,0,36074000000,-10264000000,-124000000,-10049000000,0,0,0,-10071000000,-2625000000,6116000000,-5706000000,-5382000000,-324000000,-1670000000,2625000000,-16117000000,25810000000
650,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2022-01-31,2022,01,13673000000,13940000000,10658000000,0,24181000000,-13106000000,7576000000,-12712000000,0,0,0,-6015000000,-9787000000,6152000000,-5872000000,-6065000000,193000000,-1017000000,9787000000,-22828000000,11075000000
651,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2023-01-31,2023,01,11680000000,11292000000,10945000000,0,28841000000,-16857000000,-740000000,-16687000000,0,0,0,-17722000000,-9920000000,6114000000,2318000000,2352000000,-34000000,-3323000000,9920000000,-17039000000,12244000000

In [ ]:
company['WMT']['cash'].columns

In [ ]:
company['WMT']['income'].columns

In [24]:
def chk_trend(S):

  '''
  multiplier can be used to reverse the returned gradient from positive to negative or vice versa.
  '''
  
  S = pd.DataFrame(S)

  trend_details={}

  scaler = preprocessing.MinMaxScaler()
  scaler = scaler.fit_transform(S)*10
  x=[1,2,3,4]

  y=[]

  for i in range(0,len(scaler)):
    y = y + list(scaler[i])

  coeff=np.polyfit(x,y,deg=1)
    
  trend_details['gradient'] = coeff[0]
  trend_details['x_val'] = x
  trend_details['y_val'] = y

  return trend_details

In [ ]:
def score(S,multiplier):

  trend_details = chk_trend(S)

  if multiplier > 0:
    # We are looking for a positive trend so ignore trend for ones with negative median values
    # For example negative free cash, income, profit etc.
    
    if S.median() < 0:
        trend_details['score'] = -2
    else:
        trend_details['score'] = trend_details['gradient'] * multiplier
  else:
    trend_details['score'] = trend_details['gradient'] * multiplier

  return trend_details

In [ ]:
inc_ticker_list = income_sheets['company'].unique()
cash_ticker_list = cash_sheets['company'].unique()
bal_ticker_list = balance_sheets['company'].unique()
print(len(inc_ticker_list))
print(len(cash_ticker_list))
print(len(bal_ticker_list))

ticker_list = cash_ticker_list

In [ ]:
def show_trend(trend_details):
 
  x = trend_details['x_val']
  y = trend_details['y_val']
  print(x)
  print(y)

  coeff=np.polyfit(x,y,deg=1)
  f = np.poly1d(coeff)

  xx=np.linspace(0,5,100)
  yy=f(xx)

  plt.plot(xx,yy)
  plt.scatter(x,y,c="black")
  plt.show()

In [ ]:
#ticker_list = ['WMT','GOOG','INTC','UBER','META','KO','PEP','BA','TSLA','F','GM']

trend = {}
df_label = pd.DataFrame()
df_temp = pd.DataFrame()

for ticker in ticker_list:
    
  trend[ticker] = {}

  # Positive

  trend[ticker]['totalRevenue'] = score(company[ticker]['income'] \
                                        .sort_values(by='st_YR')['totalRevenue'],1)
  trend[ticker]['grossProfit'] = score(company[ticker]['income'] \
                                        .sort_values(by='st_YR')['grossProfit'],1)
  trend[ticker]['operatingIncome'] = score(company[ticker]['income'] \
                                        .sort_values(by='st_YR')['operatingIncome'],1)  

  trend[ticker]['freeCashFlow'] = score(company[ticker]['cash'] \
                                        .sort_values(by='st_YR')['freeCashFlow'],2) 
  trend[ticker]['cashDividendsPaid'] = score(-1 * company[ticker]['cash'] \
                                        .sort_values(by='st_YR')['cashDividendsPaid'],1) 
  trend[ticker]['repurchaseOfCapitalStock'] = score(-1 * company[ticker]['cash'] \
                                        .sort_values(by='st_YR')['repurchaseOfCapitalStock'],1) 
  trend[ticker]['capitalExpenditure'] = score(-1 * company[ticker]['cash'] \
                                        .sort_values(by='st_YR')['capitalExpenditure'],1)

  trend[ticker]['stockholdersEquity'] = score(company[ticker]['balance'] \
                                        .sort_values(by='st_YR')['stockholdersEquity'],1)
  trend[ticker]['retainedEarnings'] = score(company[ticker]['balance'] \
                                        .sort_values(by='st_YR')['retainedEarnings'],1)

  # Negative
                                                                  
  trend[ticker]['longTermDebt'] = score(company[ticker]['balance'] \
                                        .sort_values(by='st_YR')['longTermDebt'],-2)  
  trend[ticker]['goodwillAndOtherIntangibleAssets'] = score(company[ticker]['balance'] \
                                        .sort_values(by='st_YR')['goodwillAndOtherIntangibleAssets'],-1)  
  trend[ticker]['netCommonStockIssuance'] = score(company[ticker]['cash'] \
                                        .sort_values(by='st_YR')['netCommonStockIssuance'],-1)

  # Determine Score

  trend[ticker]['score'] = (trend[ticker]['totalRevenue']['score'] + 
                            trend[ticker]['grossProfit']['score'] + 
                            trend[ticker]['operatingIncome']['score'] +
                            trend[ticker]['freeCashFlow']['score'] +
                            trend[ticker]['cashDividendsPaid']['score'] +
                            trend[ticker]['repurchaseOfCapitalStock']['score'] +
                            trend[ticker]['capitalExpenditure']['score'] +
                            trend[ticker]['stockholdersEquity']['score'] +
                            trend[ticker]['retainedEarnings']['score'] +                      
                            trend[ticker]['goodwillAndOtherIntangibleAssets']['score'] +
                            trend[ticker]['netCommonStockIssuance']['score'] +
                            trend[ticker]['longTermDebt']['score'])

  print(ticker,trend[ticker]['score'])

In [ ]:
ticker='EQT'
score(company[ticker]['cash'] \
                                        .sort_values(by='st_YR')['repurchaseOfCapitalStock'],1)

In [ ]:
company[ticker]['cash']

In [ ]:
df = pd.DataFrame()

for ticker in ticker_list:
   #print(ticker,trend[ticker]['score'])
   
    
   df_temp = pd.DataFrame({'score':trend[ticker]['score']},index=[ticker])
  
   df = pd.concat([df,df_temp])

df.sort_values(by='score')

In [ ]:
df

In [ ]:
sns.displot(data=df)

In [ ]:
df.loc['GM']

In [ ]:
df['label'] = 'X'
df.loc[df['score'] < -3, 'label'] = 'D'
df.loc[(df['score'] >= -3) & (df['score'] < 6), 'label'] = 'C'
df.loc[(df['score'] >= 6) & (df['score'] < 14), 'label'] = 'B'
df.loc[df['score'] >= 14, 'label'] = 'A'

In [ ]:
df['label'].value_counts()

In [ ]:
show_trend(trend['NVDA']['freeCashFlow'])

In [ ]:
df

In [ ]:

df1 = income_sheets[['company','yahoo_sector','industry','st_YR',
                     'totalRevenue','grossProfit','operatingIncome']].set_index(['company'],drop=True)
df1 = df1.merge(df,left_index=True, right_index=True, how='inner')

In [ ]:
df1

In [ ]:
df1=df1.reset_index()

In [ ]:
df1

In [ ]:
df2 = cash_sheets[['company','st_YR',
                   'freeCashFlow','netCommonStockIssuance','cashDividendsPaid',
                   'repurchaseOfCapitalStock',]].set_index(['company','st_YR'],drop=True)
df2

In [ ]:
df3 = balance_sheets[['company','st_YR',
                      'longTermDebt','stockholdersEquity','retainedEarnings',
                      'goodwillAndOtherIntangibleAssets']].set_index(['company','st_YR'],drop=True)

In [ ]:
df3

In [ ]:
df1 = df1.set_index(['company','st_YR'],drop=True)
df1

In [ ]:
df_final = df1.merge(df2,left_index=True, right_index=True, how='outer')

In [ ]:

df_final = df_final.reset_index()
df_final

In [ ]:
# Save the data in export directory

filepath = os.path.join(DATA_ROOT_DIR, 'data','export','yahoo_cons_data.csv')
df_final.to_csv(filepath,index=False)

In [ ]:
df_final

## Score Balance Sheet

In [25]:
balance_sheets

,company,yahoo_sector,gics_sector,industry,st_date,st_YR,st_Mnth,cashCashEquivalentsAndShortTermInvestments,receivables,finishedGoods,workInProcess,rawMaterials,otherCurrentAssets,inventory,currentAssets,netPPE,otherNonCurrentAssets,financialAssets,goodwillAndOtherIntangibleAssets,nonCurrentAccountsReceivable,totalNonCurrentAssets,currentDebtAndCapitalLeaseObligation,payablesAndAccruedExpenses,totalTaxPayable,otherCurrentLiabilities,currentLiabilities,longTermDebt,longTermDebtAndCapitalLeaseObligation,totalNonCurrentLiabilitiesNetMinorityInterest,retainedEarnings,stockholdersEquity
0,AM,Energy,Energy,Oil & Gas Midstream,2019-12-31,2019,12,1235000,105603000,0,0,0,1720000,0,108558000,3273410000,14460000,0,2073580000,0,6174320000,0,113979000,0,128105000,242084000,2892249000,2892249000,2897380000,-341565000,3143414000
1,AM,Energy,Energy,Oil & Gas Midstream,2020-12-31,2020,12,640000,91812000,0,0,0,1479000,0,93931000,3254044000,9610000,0,1427447000,0,5516981000,0,88304000,3368000,5701000,94005000,3091626000,3091626000,3098621000,-464092000,2418286000
2,AM,Energy,Energy,Oil & Gas Midstream,2021-12-31,2021,12,0,82884000,0,0,0,920000,0,83804000,3394746000,12667000,0,1356775000,0,5460197000,0,109386000,5400000,4623000,114009000,3122910000,3122910000,3143294000,-132475000,2286698000
3,AM,Energy,Energy,Oil & Gas Midstream,2022-12-31,2022,12,0,87667000,0,0,0,1326000,0,88993000,3751431000,12026000,0,1286103000,0,5702327000,0,101016000,5661000,1061000,102077000,3361282000,3361282000,3496925000,82793000,2192318000
8,APA,Energy,Energy,Oil & Gas E&P,2019-12-31,2019,12,247000000,1062000000,0,0,0,1714000000,502000000,1961000000,14158000000,1988000000,0,0,0,16146000000,11000000,1360000000,51000000,1844000000,1855000000,8555000000,8555000000,11787000000,-5601000000,3255000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3359,ZBH,Healthcare,Health Care,Medical Devices,2022-12-31,2022,12,375700000,1381500000,1655000000,230900000,261300000,522900000,2147200000,4427300000,1872500000,1122200000,0,13644000000,0,16638700000,544300000,974900000,38500000,1813900000,2358200000,5152200000,5152200000,6680800000,9559300000,12021300000
3360,ZTS,Healthcare,Health Care,Drug ManufacturersSpecialty & Generic,2019-12-31,2019,12,1932000000,1086000000,701000000,511000000,198000000,318000000,1410000000,4748000000,2129000000,98000000,0,4482000000,0,6797000000,500000000,975000000,36000000,55000000,1806000000,5947000000,6111000000,7031000000,4427000000,2708000000
3361,ZTS,Healthcare,Health Care,Drug ManufacturersSpecialty & Generic,2020-12-31,2020,12,3602000000,1013000000,805000000,594000000,229000000,366000000,1628000000,6611000000,2394000000,106000000,0,4404000000,0,6998000000,604000000,1178000000,46000000,93000000,2170000000,6595000000,6758000000,7666000000,5659000000,3769000000
3362,ZTS,Healthcare,Health Care,Drug ManufacturersSpecialty & Generic,2021-12-31,2021,12,3482000000,1133000000,888000000,696000000,339000000,389000000,1923000000,6930000000,2603000000,111000000,0,4156000000,0,6970000000,0,1338000000,38000000,67000000,1797000000,6592000000,6743000000,7559000000,7186000000,4543000000
3363,ZTS,Healthcare,Health Care,Drug ManufacturersSpecialty & Generic,2022-12-31,2022,12,3577000000,1215000000,1090000000,825000000,430000000,365000000,2345000000,7506000000,2973000000,147000000,0,4126000000,0,7419000000,1352000000,1418000000,157000000,97000000,3167000000,6552000000,6738000000,7355000000,8668000000,4405000000

In [26]:
df = balance_sheets
list(df.columns)

['company',
 'yahoo_sector',
 'gics_sector',
 'industry',
 'st_date',
 'st_YR',
 'st_Mnth',
 'cashCashEquivalentsAndShortTermInvestments',
 'receivables',
 'finishedGoods',
 'workInProcess',
 'rawMaterials',
 'otherCurrentAssets',
 'inventory',
 'currentAssets',
 'netPPE',
 'otherNonCurrentAssets',
 'financialAssets',
 'goodwillAndOtherIntangibleAssets',
 'nonCurrentAccountsReceivable',
 'totalNonCurrentAssets',
 'currentDebtAndCapitalLeaseObligation',
 'payablesAndAccruedExpenses',
 'totalTaxPayable',
 'otherCurrentLiabilities',
 'currentLiabilities',
 'longTermDebt',
 'longTermDebtAndCapitalLeaseObligation',
 'totalNonCurrentLiabilitiesNetMinorityInterest',
 'retainedEarnings',
 'stockholdersEquity']

In [ ]:
col_list = ['cashCashEquivalentsAndShortTermInvestments',
            'receivables',
           'finishedGoods',
 'workInProcess',
 'rawMaterials',
 'otherCurrentAssets',
 'inventory',
 'currentAssets',
 'netPPE',
 'otherNonCurrentAssets',
 'financialAssets',
 'goodwillAndOtherIntangibleAssets',
 'nonCurrentAccountsReceivable',
 'totalNonCurrentAssets',
 'currentDebtAndCapitalLeaseObligation',
 'payablesAndAccruedExpenses',
 'totalTaxPayable',
 'otherCurrentLiabilities',
 'currentLiabilities',
 'longTermDebt',
 'longTermDebtAndCapitalLeaseObligation',
 'totalNonCurrentLiabilitiesNetMinorityInterest',
 'retainedEarnings',
 'stockholdersEquity']

In [ ]:
df[col_list].describe()

In [ ]:
df.where(df['retainedEarnings'] > 1000)

## Balence Sheet (New)

In [12]:
scoreSheet = pd.DataFrame()

In [37]:
df = company['WMT']['balance']
df

,company,yahoo_sector,gics_sector,industry,st_date,st_YR,st_Mnth,cashEquivalents,receivables,finishedGoods,workInProcess,rawMaterials,otherCurrentAssets,inventory,currentAssets,netPPE,otherNonCurrentAssets,financialAssets,IntangibleAssets,nonCurrentReceivables,totalNonCurrentAssets,currentDebt,payablesAndAccruedExpenses,totalTaxPayable,otherCurrentLiabilities,currentLiabilities,longTermDebt,longTermDebtAndCapitalLeaseObligation,totalNonCurrentLiabilities,retainedEarnings,stockholdersEquity
712,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2020-01-31,2020,01,9465000000,6284000000,0,0,0,0,44435000000,61806000000,127049000000,16567000000,0,31073000000,0,174689000000,8241000000,69549000000,280000000,0,77790000000,43714000000,64192000000,77153000000,83943000000,74669000000
713,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2021-01-31,2021,01,17741000000,6516000000,0,0,0,0,44949000000,90067000000,109848000000,23598000000,0,28983000000,0,162429000000,5296000000,87349000000,242000000,12734000000,92645000000,41194000000,57950000000,72320000000,88763000000,81298000000
714,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2022-01-31,2022,01,14760000000,8280000000,0,0,0,0,56511000000,81070000000,112624000000,22152000000,0,29014000000,0,163790000000,5207000000,82172000000,851000000,21000000,87379000000,34864000000,52116000000,65590000000,86904000000,83253000000
715,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2023-01-31,2023,01,8885000000,7933000000,0,0,0,2521000000,56576000000,75915000000,119234000000,20134000000,0,28174000000,0,167542000000,6603000000,85855000000,727000000,0,92458000000,34649000000,52320000000,67008000000,83135000000,76693000000

In [38]:
list(df.columns)

['company',
 'yahoo_sector',
 'gics_sector',
 'industry',
 'st_date',
 'st_YR',
 'st_Mnth',
 'cashEquivalents',
 'receivables',
 'finishedGoods',
 'workInProcess',
 'rawMaterials',
 'otherCurrentAssets',
 'inventory',
 'currentAssets',
 'netPPE',
 'otherNonCurrentAssets',
 'financialAssets',
 'IntangibleAssets',
 'nonCurrentReceivables',
 'totalNonCurrentAssets',
 'currentDebt',
 'payablesAndAccruedExpenses',
 'totalTaxPayable',
 'otherCurrentLiabilities',
 'currentLiabilities',
 'longTermDebt',
 'longTermDebtAndCapitalLeaseObligation',
 'totalNonCurrentLiabilities',
 'retainedEarnings',
 'stockholdersEquity']

In [36]:
new_cols=['company',
          'yahoo_sector',
          'gics_sector',
          'industry',
          'st_date',
          'st_YR',
          'st_Mnth',
          'cashEquivalents',
          'receivables',
          'finishedGoods',
          'workInProcess',
          'rawMaterials',
          'otherCurrentAssets',
          'inventory',
          'currentAssets',
          'netPPE',
          'otherNonCurrentAssets',
          'financialAssets',
          'IntangibleAssets',
          'nonCurrentReceivables',
          'totalNonCurrentAssets',
          'currentDebt',
          'payablesAndAccruedExpenses',
          'totalTaxPayable',
          'otherCurrentLiabilities',
          'currentLiabilities',
          'longTermDebt',
          'longTermDebtAndCapitalLeaseObligation',
          'totalNonCurrentLiabilities',
          'retainedEarnings',
          'stockholdersEquity']

df.columns = new_cols

In [39]:
df

,company,yahoo_sector,gics_sector,industry,st_date,st_YR,st_Mnth,cashEquivalents,receivables,finishedGoods,workInProcess,rawMaterials,otherCurrentAssets,inventory,currentAssets,netPPE,otherNonCurrentAssets,financialAssets,IntangibleAssets,nonCurrentReceivables,totalNonCurrentAssets,currentDebt,payablesAndAccruedExpenses,totalTaxPayable,otherCurrentLiabilities,currentLiabilities,longTermDebt,longTermDebtAndCapitalLeaseObligation,totalNonCurrentLiabilities,retainedEarnings,stockholdersEquity
712,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2020-01-31,2020,01,9465000000,6284000000,0,0,0,0,44435000000,61806000000,127049000000,16567000000,0,31073000000,0,174689000000,8241000000,69549000000,280000000,0,77790000000,43714000000,64192000000,77153000000,83943000000,74669000000
713,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2021-01-31,2021,01,17741000000,6516000000,0,0,0,0,44949000000,90067000000,109848000000,23598000000,0,28983000000,0,162429000000,5296000000,87349000000,242000000,12734000000,92645000000,41194000000,57950000000,72320000000,88763000000,81298000000
714,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2022-01-31,2022,01,14760000000,8280000000,0,0,0,0,56511000000,81070000000,112624000000,22152000000,0,29014000000,0,163790000000,5207000000,82172000000,851000000,21000000,87379000000,34864000000,52116000000,65590000000,86904000000,83253000000
715,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2023-01-31,2023,01,8885000000,7933000000,0,0,0,2521000000,56576000000,75915000000,119234000000,20134000000,0,28174000000,0,167542000000,6603000000,85855000000,727000000,0,92458000000,34649000000,52320000000,67008000000,83135000000,76693000000

### Working Capital

Negative is bad. 

For the moment simply determine whether working capital is good or bad for each period and then determine trend.

We can refine this later to determine how bad or good by differentiating strong positive and negative from ones 
which sit within a band near zero.

Note that we may need to differentiate according to industry. For example, retail may have negative or marginally
positive working capital given nature of their business.

In [40]:
noRows = len(df)

scoreList = []

for i in range(0,noRows):
    
  WorkingCapital = df['currentAssets'].iloc[i] - df['currentLiabilities'].iloc[i]

  if WorkingCapital < 0:
     scoreList.append(0)
  else:
     scoreList.append(5)

print(scoreList)

scoreSheet = pd.DataFrame(scoreList,columns=['WorkingCapital'])

[0, 0, 0, 0]

In [41]:
scoreSheet

   WorkingCapital
0               0
1               0
2               0
3               0

In [42]:
int(scoreSheet['WorkingCapital'].median())

0

## Check tremd

5 Positive linear trend

4 Positive Fluctuating Trend

3 Trend is withing a narrow band +ve and -ve

2 negative fluctuating trend

1 negative linear trend

0 negative exponential trend

## Debt

Consider Total Debt (current and non current)
Equity (Common Stock + Retained Earnings)

Determine Debt/Equity ratio

In [49]:
totalDebt = df['currentDebt'] + df['longTermDebt']

debtRatio = (totalDebt / df['stockholdersEquity']) * 100
debtRatio

712   70
713   57
714   48
715   54
dtype: float64

In [51]:
debtRatio.median()

55.48657996879511

## Retained Profits

We would expect these to be positive.

+ve linear growth is a good sign.

-ve linear decline requires caution.

See if we can find a way to determine the relative strength of retained profits. If they are very high initially 
and remain strong throughout the period then a decline shouldn't be a concern.

## Stockholders Equity

We expect this to be positive.

+ve trend is a good indicator.

-ve trend is a bad indicator,

Consider excluding goodwill and intangible assets.

Stockholders equity essentially represents the value of all assets after allowing for all liabilities. So it is 
net worth of the company. Question is whether inclusing of goodwill and other intangibles makes sense. Tings like 
patents and intellectual property may form a significant part of realizable assets (tech, pharma, entertainment companies).

Perhaps we need to split this according to industry, having done an analysis of key industries.

In [ ]:
## Inventory

We may need to consider this on an industry basis, as the significance of inventory is more significant for certain
types of businesses such as retail.

A high inventory or growing inventory is a negative. Also, compare with rivals as a performance measure.

Significant fluctuations may also be an interesting indicator to consider.

Given the difference in sizes of companies, we need to consider inventory as a percentage of revenue.

In [52]:
df['inventory'].median()

50730000000.0

# Income Sheet

In [53]:
df = company['WMT']['income']
df

,company,yahoo_sector,gics_sector,industry,st_date,st_YR,st_Mnth,totalRevenue,costOfRevenue,grossProfit,netIncome,operatingIncome,netIncomeContinuousOperations,netInterestIncome,otherIncomeExpense,operatingExpense,totalExpenses,taxProvision,sellingGeneralAndAdministration,researchAndDevelopment,ebit
929,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2020-01-31,2020,01,523964000000,394605000000,129359000000,14881000000,20568000000,15201000000,-2410000000,1958000000,108791000000,503396000000,4915000000,108791000000,0,22715000000
930,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2021-01-31,2021,01,559151000000,420315000000,138836000000,13510000000,22548000000,13706000000,-2194000000,210000000,116288000000,536603000000,6858000000,116288000000,0,22879000000
931,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2022-01-31,2022,01,572754000000,429000000000,143754000000,13673000000,25942000000,13940000000,-1836000000,-5410000000,117812000000,546812000000,4756000000,117812000000,0,20690000000
932,WMT,Consumer Defensive,Consumer Staples,Discount Stores,2023-01-31,2023,01,611289000000,463721000000,147568000000,11680000000,20428000000,11292000000,-1874000000,-1538000000,127140000000,590861000000,5724000000,127140000000,0,19144000000

In [54]:
list(df.columns)

['company',
 'yahoo_sector',
 'gics_sector',
 'industry',
 'st_date',
 'st_YR',
 'st_Mnth',
 'totalRevenue',
 'costOfRevenue',
 'grossProfit',
 'netIncome',
 'operatingIncome',
 'netIncomeContinuousOperations',
 'netInterestIncome',
 'otherIncomeExpense',
 'operatingExpense',
 'totalExpenses',
 'taxProvision',
 'sellingGeneralAndAdministration',
 'researchAndDevelopment',
 'ebit']

In [55]:
new_cols = ['company',
            'yahoo_sector',
            'gics_sector',
            'industry',
            'st_date',
            'st_YR',
            'st_Mnth',
            'totalRevenue',
            'costOfRevenue',
            'grossProfit',
            'netIncome',
            'operatingIncome',
            'netIncomeContinuousOperations',
            'netInterestIncome',
            'otherIncomeExpense',
            'operatingExpense',
            'totalExpenses',
            'taxProvision',
            'SGA',
            'researchAndDevelopment',
            'ebit']

df.columns = new_cols

In [57]:
df[['operatingIncome','ebit']]

     operatingIncome        ebit
929      20568000000 22715000000
930      22548000000 22879000000
931      25942000000 20690000000
932      20428000000 19144000000

## Total Revenue

Trend must be positive

Differentiate between steady and erratic fluctuations.

## Gross Profit

Most be positive

Trend should be positive

Differentiate between steady increase and eratic

## Operating Income 

Should be positive.

Positive steady trend preferred.

## Net Income

Takes into consideration effect of taxation and interest payments.